<mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="filtrar($event)">
</mat-form-field>

<table mat-table [dataSource]="dataSourceUsuario">
    <tr mat-header-row *matHeaderRowDef="colunasVisiveis"></tr>
    <tr mat-row *matRowDef="let row; columns: colunasVisiveis;"></tr>

    <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let usuario">{{ usuario.nome | primeiroNome | titlecase}}</td>
    </ng-container>

    <ng-container matColumnDef="idade">
        <th mat-header-cell *matHeaderCellDef>Idade</th>
        <td mat-cell *matCellDef="let usuario">{{ usuario.idade }}</td>
    </ng-container>

    <tr *matNoDataRow>
        <td>Não há usuários!</td>
    </tr>


</table>
